Package: com.jerrytian.shortlook.plugin.contact-photo.wechat
Name: WeChat Profile Pictures for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0.2
Architecture: iphoneos-arm
Description: Show WeChat users' profile pictures in ShortLook when you receive a WeChat notification!
Maintainer: Jianan Tian
Author: Jianan Tian
Section: Tweaks (ShortLook)
